@page "/Entradas"
@page "/Entradas/{EntradasId:int}"
@inject HttpClient httpClient
@inject NotificationService notificationService

<PageTitle>Registro de produccion.</PageTitle>

<RadzenTemplateForm TItem="Entradas" Data="@Entradas" Submit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card text-dark bg-light mb-3 shadow-lg">
            <div class="card-header">
                <h3>Entrada/Salida de productos empacados</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <label for="EntradaId">EntradaId:</label>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                            <div class="input-group mb-3">
                                <InputNumber @bind-Value="Entradas.EntradaId" class="form-control" aria-describedby="BotonBuscar" />
                                <button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="BotonBuscar"><i class="oi oi-magnifying-glass" /></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="Fecha">Fecha:</label>
                        <input TValue="DateTime" disabled="true" @bind="@Entradas.Fecha" type="date" class="form-control" id="Fecha" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <RadzenLabel Text="Concepto:" />
                        <RadzenTextBox style="width: 100%;" Name="Concepto" @bind-Value="@Entradas.Concepto" />
                        <RadzenRequiredValidator Component="Concepto" Text="El concepto es obligatorio" Popup="true" Style="position: absolute" />

                    </div>
                </div>
                <hr>
                <fieldset>
                    <legend>Utilizados:</legend>
                    <div class="row">
                        <div class="col-4">
                            <label for="SelectP">Producto:</label>
                            <RadzenDropDown class="form-control" Data="@L_Productos.Where(p => p.ProductoId != 5)" TextProperty="Descripcion" ValueProperty="ProductoId" @bind-Value="@EntradasDetalle.ProductoId"></RadzenDropDown>
                        </div>
                        <div class="col-4">
                            <label for="CantidadP">Cantidad:</label>
                            <div class="input-group">
                                <input @bind="@EntradasDetalle.CantidadUtilizada" type="Text" id="CantidadP" class="form-control" />
                                <button type="button" class="btn btn-dark" @onclick="AgregarDetalle">Agregar <i class="oi oi-plus" /></button>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ProductoId</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Entradas.EntradasDetalles)
                            {
                                <tr>
                                    <td>@item.ProductoId</td>
                                    <td>@L_Productos.FirstOrDefault(p => p.ProductoId == item.ProductoId)?.Descripcion</td>
                                    <td>@item.CantidadUtilizada</td>
                                    <td>
                                        <button class="btn btn-danger mr-2" onclick="@(() => EliminarDetalle(item))"><i class="oi oi-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <hr>
                    <div class="row d-flex justify-content-center">
                        <div class="col-5">
                            <label for="Total">Cantidades totales utilizadas:</label>
                            <input @bind="@Total" disabled="true" type="text" class="form-control" />
                        </div>
                    </div>
                </fieldset>
                <hr>
                <fieldset>
                    <legend>Producido:</legend>
                    <div class="row">
                        <div class="col-3">
                            <RadzenDropDown class="form-control" Data="@L_Productos" TextProperty="Descripcion" ValueProperty="ProductoId" @bind-Value="@Entradas.ProductoId"></RadzenDropDown>
                        </div>
                        <div class="col-2">
                            <input @bind="@Entradas.CantidadProducida" type="text" class="form-control" placeholder="Cantidad" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="row">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" @onclick="Nuevo">Nuevo <i class="oi oi-file" /></button>
                        <button type="submit" class="btn btn-outline-success">Guardar <i class="oi oi-document" /></button>
                        <button type="button" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar <i class="oi oi-trash" /></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</RadzenTemplateForm>


@code
{
    [Parameter]
    public int EntradasId { get; set; }

    public int ProductoId { get; set; }

    public Entradas Entradas { get; set; } = new Entradas();

    public EntradasDetalle EntradasDetalle { get; set; } = new EntradasDetalle();

    public int Total { get; set; } = 0;

    public int Cantidad { get; set; }

    public List<Productos> L_Productos { get; set; } = new List<Productos>();

    protected override async Task OnInitializedAsync()
    {
        var Productos = await httpClient.GetFromJsonAsync<List<Productos>>("api/Productos");

        if (Productos is not null)
        {
            L_Productos = Productos;
        }
    }

    public void Nuevo()
    {
        Entradas = new Entradas();
    }

    public async Task Buscar()
    {
        //var buscar = await httpClient.GetFromJsonAsync<Entradas>($"api/Entradas/{Entradas.EntradaId}");
        var buscar = await httpClient.GetFromJsonAsync<Entradas>($"api/Entradas/{Entradas.EntradaId}");
        {
            if (buscar != null)
            {
                this.Entradas = buscar;
                StateHasChanged();
            }
            else
            {
                notificationService.ShowNotification(
                   titulo: "Éxito",
                   mensaje: "buscado correctamente",
                   NotificationSeverity.Success);
            }
        }
    }

    public bool Validar()
    {
        if (string.IsNullOrEmpty(Entradas.Concepto))
        {
            return false;
        }
        if (Entradas.PesoTotal < 0)
        {
            return false;
        }
        if (Entradas.ProductoId < 0)
        {
            return false;
        }
        if (Entradas.CantidadProducida < 0)
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    public bool ValidarDetalle()
    {
        if (EntradasDetalle.ProductoId < 0)
        {
            return false;
        }
        if (EntradasDetalle.CantidadUtilizada < 0)
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    public async Task Guardar()
    {
        try
        {
            using var response = await httpClient.PostAsJsonAsync("api/Entradas", Entradas);
            response.EnsureSuccessStatusCode();

            var entradaDevuelta = await response.Content.ReadFromJsonAsync<Entradas>();
            if (entradaDevuelta != null)
            {
                notificationService.ShowNotification(
                    titulo: "Éxito",
                    mensaje: "Guardado correctamente",
                    NotificationSeverity.Success);
                this.Entradas = entradaDevuelta;
            }
        }
        catch (Exception ex)
        {
            notificationService.ShowNotification(
                titulo: "Error al guardar",
                mensaje: ex.Message,
                NotificationSeverity.Error);
        }
    }


    public async Task Eliminar()
    {
        using var response = await httpClient.DeleteAsync($"api/Entrada/{Entradas.EntradaId}");

        if (Validar())
        {
            if (!response.IsSuccessStatusCode)
            {
                return;
            }
            else
            {
                Nuevo();
            }
        }
    }

    private async Task<Entradas> BuscarEntradas(int EntradaId)
    {
        Entradas entradas = new Entradas();
        var entradaEncontrada = await httpClient.GetFromJsonAsync<Entradas>($"api/Entradas/{EntradaId}");

        if (entradaEncontrada != null)
        {
            return entradas = entradaEncontrada;
        }
        else
        {
            return new Entradas();
        }
    }

    public void AgregarDetalle()
    {
        if (ValidarDetalle())
        {
            if (Entradas != null)
            {
                EntradasDetalle.EntradaId = Entradas.EntradaId;

                Entradas.EntradasDetalles.Add(EntradasDetalle);
                EntradasDetalle = new EntradasDetalle();
            }
        }
    }

    public void EliminarDetalle(EntradasDetalle detalle)
    {
        var detalleEncontrado = Entradas.EntradasDetalles.FirstOrDefault(e => e.DetalleId == detalle.DetalleId);

        if (detalleEncontrado != null)
        {
            var entrada = BuscarEntradas(detalleEncontrado.ProductoId);
            detalle = detalleEncontrado;
            Entradas.EntradasDetalles.Remove(detalle);
        }
    }
}
